form([formGroup]='form', (ngSubmit)='onSubmit()', style='margin:10%;margin-top:2%')
  mixin field(name, type, formControlName, cls)
    .form-group
      label(for="product_"+formControlName)=name
      if block
        block
      else 
        //- input('[ngClass]'=`{'${cls ? cls : 'form-control'}':true, 'is-valid':!${formControlName}.invalid, 'is-invalid':${formControlName}.invalid}`, id="product_"+formControlName, type=type, formControlName=formControlName)
        input(class=cls ? cls : 'form-control', id="product_"+formControlName, type=type, formControlName=formControlName)

  
  //- +field("", "product_id")
  +field("Name","text", "name")
  +field("Price","number", "price")
  +field("Available Quantity","number", "available_quantity")
  +field("Max quantity per customer","number", "max_quantity_per_customer")
  .form-check
    input#isveg.form-check-input(type="checkbox", formControlName="isVegetarian")
    label.form-check-label(for="isveg") Vegetarian
  //- +field("Image", "file", "imgUrl", "form-control-file" )
  +field("Image", "text", "imgUrl", "form-control" )
  +field("Description",null, "description")
     textarea.form-control(cols=30, rows=10, formControlName="description")
  button.btn.btn-primary(type="submit", [disabled]="!form.valid") {{add_mode ? 'Add' : 'Save Changes'}}